body {
    background-color :#3498db;
    color: white;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}


.my_rc_cir {
    position: relative;
    width: 65%;
    border-radius: 50%;
    background-color: lightblue;
    text-align : center;
}

.my_rc_cir::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.my_rc_num {
    position: absolute;
    /* width: 100%;
    height: 100%; */
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-50%, -50%); */
    font-size: 360px;
}

@media screen and (max-width: 768px)  {
    .my_rc_num {
        width: 100%;
    }
}